* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

main {
  padding: 36px;
}

.header{
  display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.troll-face-logo{
  height: 100%;
    margin-right: 6px;
}

.header--title{
  font-size: 1.25rem;
    margin-right: auto;
}

.header--project{
  font-size: 0.75rem;
    
}

.form{
  display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form > input {
  font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--btn{ 
  grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme-container{
  position: relative;
}

.meme-img{
  max-width: 100%;
  border-radius: 3px;
}

.saved-meme{
  max-width: 100%;
  border-radius: 3px;
}

.memeList-container{
  position: relative;

}

.saved-meme-btns{
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.saved-top{
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: white;
}

.saved-bottom{
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  text-align: center;
  transform: translateX(-50%);
  bottom: 10%;
  color: white;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 5 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 5 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  text-align: center;
  transform: translateX(-50%);
  bottom: 10%;
  color: white;
}

.top {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: white;
}

.save-btn{
  display: flex;
  justify-content: flex-start;
  border: none;
  color: white;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  font-size: 12px;
  cursor: pointer;
  border: 2px solid black;
}
.delete-btn{
  display: inline-block;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 23px;
  background-color: red; 
  color: white; 
  border: 2px solid black;
}

.edit-btn{
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  padding: 8px 32px;
  font-size: 16px;
  cursor: pointer;
  background-color: whitesmoke; 
  color: black;
  border: 2px solid black;
} 

.meme-save{
  position: relative;
  width: 20%;
  margin: auto;
}

.user-edits{
  position: relative;
  width: 20%;
  margin: auto;
}
